.header {
	font-weight: bolder;
	color: #f16405;
	text-align: center;
}
.skills {
	min-height: 60vh;
	padding: 8px 0;
	color: rgb(0, 0, 0);
	background: #ccc;
}
#myProgress {
	width: 80%;
	background-color: #ddd;
	border-radius: 10px;
	margin-bottom: 10px;
}
#myBar {
	width: 90%;
	height: 10px;
	background: #f16405;
	text-align: center;
	line-height: 30px;
	color: white;
	border-radius: 10px;
}
