.header {
	font-weight: bolder;
	color: #f16405;
}
.carousel {
	min-height: 100vh;
	padding: 10px 0;
}
.slider {
	width: 90vw !important;
	margin: auto;
}
.cards {
	margin-bottom: 20px !important;
}
.header2 {
	font-size: 18px;
	font-weight: bolder;
}
.text {
	font-size: 13px;
}
.bgPad {
	height: 68vh;
	margin: 0 20px !important;
	text-align: center;
	font-weight: bold !important;
	background: linear-gradient(rgb(240, 99, 5), rgba(1, 17, 58, 0.568));
}
@media screen and (max-width: 1024px) {
	.carousel {
		min-height: 60vh;
	}
	.bgPad {
		height: 38vh;
	}
}
@media screen and (max-width: 768px) {
	.carousel {
		min-height: 86vh;
	}
	.bgPad {
		height: 60vh;
	}
}
@media screen and (max-width: 500px) {
	.carousel {
		min-height: 100vh;
	}
	.slider {
		width: 75vw !important;
		margin: auto;
	}
}
