.navbar-expand-lg .navbar-nav {
	align-items: center;
	min-height: 10vh;
}
.navbar.colorChange {
	background: rgb(1, 17, 58);
	min-height: 10vh !important;
}
.header {
	font-weight: bolder;
	color: #f16405;
	text-align: center;
}
/* .navbar.colorChange .linkItem {
	color: #fff !important;
}
.linkItem {
	text-decoration: none;
	font-weight: 900;
	font-size: 14px;
	color: rgb(255, 255, 255);
}
.linkItem:hover {
	text-decoration: none;
	color: rgb(255, 255, 255);
} */
.slick-next:before,
.slick-prev:before {
	color: rgb(0, 0, 0) !important;
}

.link {
	color: rgba(0, 81, 255, 0.856);
	text-decoration: none;
	font-weight: bold !important;
}
.link:hover {
	text-decoration: none;
}
.blog-page {
	background: rgb(1, 17, 58);
	color: rgb(255, 255, 255);
	height: 60vh;
}
.blog-page1 {
	height: 60vh;
	position: absolute;
	top: 25%;
}
