.navbar-expand-lg .navbar-nav {
	align-items: center;
	height: 10vh;
}
.navbar.colorChange {
	background: linear-gradient(rgb(240, 99, 5), rgb(1, 17, 58));
	border: none !important;
}
.slick-next:before,
.slick-prev:before {
	color: black !important;
}
