.navbar-expand-lg .navbar-nav {
	align-items: center;
	height: 10vh;
}
.navbar.colorChange {
	background-color: #ffffff !important;
}
.slick-next:before,
.slick-prev:before {
	color: black !important;
}
